@font-face {
    font-family: 'Hardome';
    src: url('/fonts/hardome/Hardome.otf') format('opentype'),
        url('/fonts/hardome/Hardome.ttf') format('truetype');
}

@font-face {
    font-family: 'Imperial';
    src: url('/fonts/imperial/ImperialBT.ttf') format('truetype');
}

@font-face {
    font-family: 'Imperial-bold';
    src: url('/fonts/imperial/ImperialBTBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Dinengschriftstd';
    src: url('/fonts/dinengschriftstd/DINEngschriftStd.otf') format('opentype');
}

.hardome {
    font-family: 'Hardome', sans-serif;
}

.imperial {
    font-family: 'Imperial', sans-serif;
}

.imperial-bold {
    font-family: 'Imperial-bold', sans-serif;
}

.dinengschriftstd {
    font-family: 'Dinengschriftstd', sans-serif;
}

.text-c22015 {
    color: #c22015;
}

.bg-f7f4ee {
    background-color: #f7f4ee;
}

.bg-c22015 {
    background-color: #c22015;
}

.opacity-mid {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.opacity-mid:hover {
    opacity: 1;
}

.animate-opacity {
    transition: opacity 0.5s;
}

.animate-opacity:hover {
    opacity: 0.5;
}

.shadow-top {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05);
}

.shadow-bottom {
    box-shadow: 0 -.5rem 1rem rgba(0,0,0,.05);
}

.shortcut-word {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}